In [22]:
type(False)

bool

In [35]:
mystr = "HiDude"
# mystr=mystr.upper()

In [36]:
print(mystr.isalnum()) #check if all chars are only alphabets and numbers and not spaces
print(mystr.isalpha()) #check if all chars in the string are alphabetic
print(mystr.isdigit()) #test if it is digit
print(mystr.istitle()) #returns True if all words in a text start with a upper case letter, AND the rest of the word are lower case letters, otherwise False. Symbols and numbers are ignored.
print(mystr.isupper()) #test if string contains uppercase (all chars)
print(mystr.islower()) #test if string contains lowercase (all chars)
print(mystr.isspace()) #test if contains spaces
print(mystr.endswith('e'))
print(mystr.startswith('H'))

True
True
False
False
False
False
False
True
True

In [37]:
str1 = "HelloWorld"

In [38]:
mystr.isalpha() or str1.isdigit()

True

In [39]:
mylist = [1,'Maths',2,'Science']
print(len(mylist))

4

In [42]:
mylist.append(3)
mylist
mylist.append([4,'French'])

In [43]:
mylist.insert(5,'English')
mylist

[1, 'Maths', 2, 'Science', 3, 'English', 'English', 3, [4, 'French']]

In [44]:
mylist.extend([5,'tamil'])
mylist

[1,
 'Maths',
 2,
 'Science',
 3,
 'English',
 'English',
 3,
 [4, 'French'],
 5,
 'tamil']

In [45]:
num = [1,2,3,4,5]
print(sum(num))

15

In [46]:
num.append(1)
num.count(1)

2

In [48]:
print(num.index(1))
print(num.index(1,1,len(num)))

0
5

In [49]:
print(min(num))
print(max(num))

1
5

In [50]:
num*2

[1, 2, 3, 4, 5, 1, 1, 2, 3, 4, 5, 1]

In [1]:
set_var = {"AR","Ani","San"}
set_var

{'AR', 'Ani', 'San'}

In [2]:
set_var.add("Harish")
set_var

{'AR', 'Ani', 'Harish', 'San'}

In [3]:
set_var1 = {"AR","Ani","San","DSP"}
set_var1.difference(set_var)

{'DSP'}

In [4]:
set_var.difference(set_var1)

{'Harish'}

In [5]:
set_var.difference_update(set_var1)

In [6]:
set_var

{'Harish'}

In [7]:
set_var.add("AR")

In [8]:
set_var.intersection(set_var1)

{'AR'}

In [9]:
my_dict={"Name":"Pricilla","role":"SD","office":"BDC"}
my_dict['role']

'SD'

In [10]:
for x in my_dict:
    print(x)

Name
role
office

In [11]:
for x in my_dict.values():
    print(x)

Pricilla
SD
BDC

In [12]:
for x in my_dict.items():
    print(x)

('Name', 'Pricilla')
('role', 'SD')
('office', 'BDC')

In [13]:
my_dict['pro']='Eiva'
my_dict

{'Name': 'Pricilla', 'role': 'SD', 'office': 'BDC', 'pro': 'Eiva'}

In [14]:
my_dict['Name']='Bby'
my_dict

{'Name': 'Bby', 'role': 'SD', 'office': 'BDC', 'pro': 'Eiva'}

In [15]:
muse1={'AR':'Nallai'}
muse2={'Ani':'kannana'}
museD={'classic':muse1,'rom':muse2}
museD

{'classic': {'AR': 'Nallai'}, 'rom': {'Ani': 'kannana'}}

In [16]:
museD['classic']['AR']

'Nallai'

In [17]:
my_tuple=("Prici","Judu","Jo")
my_tuple

('Prici', 'Judu', 'Jo')

In [18]:
my_tuple[0]
# we can't change individual value 
# but we can replace the whole tuple value

'Prici'